<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" productName="EPiServer Documentation" tags="EPiServerModulePackage">
  <dojoModules>
    <add name="tuohy" path="ClientResources/js" />
  </dojoModules>
  <assemblies>
    <add assembly="Tuohy.Epi.Docs" />
  </assemblies>
  <clientModule initializer="tuohy/commands/documentationCommandButton">
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
  <clientResources>
    <!-- TECHNOTE: use Page.ClientResources("DocumentationScript") in MVC view to access resource declared in this section -->
    <add location="DocumentationScript" path="ClientResources/js/documentation.js" resourceType="Script" />
    <add location="DocumentationStyles" path="ClientResources/css/documentation.css" resourceType="Style" />
    <!--<add name="epi-cms.widgets.base" path="ClientResources/js/commands/documentationCommandButton.js" resourceType="Script" />-->
  </clientResources>
</module>