<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" productName="EPiServer Content Types In Use" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="Tuohy.Epi.ContentTypesInUse" />
  </assemblies>
  <!--<route url="{moduleArea}/{controller}/{action}/{id}">
    <defaults>
      <add key="moduleArea" value="Tuohy.Epi.ContentTypesInUse" />
      <add key="controller" value="" />
      <add key="action" value="Index" />
      <add key="id" value="" />
    </defaults>
  </route>-->
</module>