<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" productName="EPiServer Documentation" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="Tuohy.Epi.Docs" />
  </assemblies>
  <clientResources>
    <!-- TECHNOTE: use Page.ClientResources("DocumentationScript") in MVC view to access resource declared in this section -->
    <add location="DocumentationScript" path="ClientResources/js/documentation.js" resourceType="Script" />
    <add location="DocumentationStyles" path="ClientResources/css/documentation.css" resourceType="Style" />
  </clientResources>
</module>